<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
  </header>

  <main class="main-container">
    <%- body %>
  </main>  

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>
</html>
